{% extends 'base.html' %}

{% block title_block %}About Us{% endblock %}

{% block main_block %}
<div class="container mt-5">
    <h1 class="text-center mb-4">About Us</h1>

    {% if about_info.error %}
        <div class="alert alert-danger text-center">{{ about_info.error }}</div>
    {% else %}
        <div class="mb-5">
            <h2 class="text-center">{{ about_info.application_name }}</h2>
            <p class="text-center">{{ about_info.description }}</p>

            <h4>Mission</h4>
            <p>{{ about_info.mission }}</p>

            <h4>Vision</h4>
            <p>{{ about_info.vision }}</p>

            <h4>Goals</h4>
            <ul>
                {% for goal in about_info.goals %}
                    <li>{{ goal }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <h2 class="text-center mb-4">Meet the Team</h2>
    <div class="d-flex justify-content-center flex-wrap gap-3">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/Ketan.jpg" class="card-img-top" alt="Ketan Manchanda">
            <div class="card-body text-center">
                <h5 class="card-title">Ketan Manchanda</h5>
                <h6 class="card-title">ketan3217.beai24@chitkara.edu.in</h6>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/static/images/mayank-jindal.jpeg" class="card-img-top" alt="Mayank Jindal">
            <div class="card-body text-center">
                <h5 class="card-title">Mayank Jindal</h5>
                <h6 class="card-title">mayank3228.beai24@chitkara.edu.in</h6>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/static/images/vineet.jpeg" class="card-img-top" alt="Vineet Kumar">
            <div class="card-body text-center">
                <h5 class="card-title">Vineet Kumar</h5>
                <h6 class="card-title">vineet3244.beai24@chitkara.edu.in</h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}
